
#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:solid;
}
#login-dp .help-block{
    font-size:12px    
}
#login-dp .bottom{
    background-color: solid;
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0    
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
    background-color: solid;
}
.btn-linkedin{
    color: #fff;
    background-color:#3b5998;
}
.btn-linkedin:hover{
    color: #fff;
    background-color:#496ebc 
}
.btn-google{
    color: #fff;
    background-color:#e94e11fd;
}
.btn-google:hover{
    color: #fff;
    background-color:#e94e11fd;
}

@media(max-width:768px){
    #login-dp{
        background-color: solid;
        color:solid;
    }
    #login-dp .bottom{
        background-color: solid;
        border-top:0 none;
        }
    }

    .copyright
    {
        background-color: black;
    }