<header id="header-wrap">
    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-md bg-inverse fixed-top scrolling-navbar">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <a href="index.html" class="navbar-brand"><img src="assets/img/logo.png" alt=""></a>       
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <i class="lni-menu"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto w-100 justify-content-end clearfix">
            <li class="nav-item">
              <a class="nav-link" href="#">
                Home
              </a>
            </li>
          

            

          </ul>
        </div>
      </div>
    </nav>
    <!-- Navbar End -->
    
  </header>

  <div class="row">
  <div class="col-sm-5"> 
<div class="cardo">
  <article class="card-body mr-2" style="max-width: 600px ; padding-top: 80px ; padding-left: 200px">
    <h4 class="card-title mt-3 text-center">Register with us!</h4>
    <p class="text-center">Get started with your free account</p>
    <p>
      <a href="" class="btn btn-block btn-linkedin"> <i class="fab fa-linkedin"></i>   Register via 
      Linkedin</a>
    </p>
   
    <p>
      <a href="" class="btn btn-block btn-google"> <i class="fab fa-google"></i>   Register via 
      Google</a>
    </p>

    <p class="divider-text">
      <span class="bg-light">OR</span>
  </p>

  <form>
  
    <div class="form-group input-group">
      <div class="input-group-prepend">
          <span class="input-group-text"> <i class="fa fa-user"></i> </span>
       </div>
          <input name="" class="form-control" placeholder="Full name" type="text" id="full" [(ngModel)]="register.fullname" [ngModelOptions]="{standalone: true}">
      </div> <!-- form-group// -->

      <div class="form-group input-group">
        <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fa fa-flag"></i> </span>
           </div>	
          <select class="form-control" [(ngModel)]="register.country" [ngModelOptions]="{standalone: true}">
        <option selected=""> Country</option>
          <option>Afghanistan</option>
         <option>Albania</option>
         <option>Algeria</option>
         <option>Samoa</option>
         <option>Andorra</option>
         <option>Angola</option>
         <option>Anguilla</option>
         <option>Antigua & Barbuda</option>
         <option>Argentina</option>
         <option>Armenia</option>
         <option>Aruba</option>
         <option>Australia</option>
         <option>Austria</option>
         <option>Azerbaijan</option>
         <option>Bahamas</option>
         <option>Bahrain</option>
         <option>Bangladesh</option>
         <option>Barbados</option>
         <option>Belarus</option>
         <option>Belgium</option>
         <option>Belize</option>
         <option>Benin</option>
         <option>Bermuda</option>
         <option>Bhutan</option>
         <option>Bolivia</option>
         <option>Bonaire</option>
         <option>Bosnia & Herzegovina</option>
         <option>Botswana</option>
         <option>Brazil</option>
         <option>British Indian Ocean Ter</option>
         <option>Brunei</option>
         <option>Bulgaria</option>
         <option>Burkina Faso</option>
         <option>Burundi</option>
         <option>Cambodia</option>
         <option>Cameroon</option>
         <option>Canada</option>
         <option>Canary Islands</option>
         <option>Cape Verde</option>
         <option>Cayman Islands</option>
         <option>Central African Republic</option>
         <option>Chad</option>
         <option>Channel Islands</option>
         <option>Chile</option>
         <option>China</option>
         <option>Christmas Island</option>
         <option>Cocos Island</option>
         <option>Colombia</option>
         <option>Comoros</option>
         <option>Congo</option>
         <option>Cook Islands</option>
         <option>Costa Rica</option>
         <option>Cote DIvoire</option>
         <option>Croatia</option>
         <option>Cuba</option>
         <option>Curacao</option>
         <option>Cyprus</option>
         <option>Czech Republic</option>
         <option>Denmark</option>
         <option>Djibouti</option>
         <option>Dominica</option>
         <option>Dominican Republic</option>
         <option>East Timor</option>
         <option>Ecuador</option>
         <option>Egypt</option>
         <option>El Salvador</option>
         <option>Equatorial Guinea</option>
         <option>Eritrea</option>
         <option>Estonia</option>
         <option>Ethiopia</option>
         <option>Falkland Islands</option>
         <option>Faroe Islands</option>
         <option>Fiji</option>
          </select>
        </div> <!-- form-group end.// -->
          
        <div class="form-group input-group" >
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
         </div>
            <input name="" class="form-control" placeholder="Email address" type="email" [(ngModel)]="register.email" [ngModelOptions]="{standalone: true}">
        </div> <!-- form-group// -->
        
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
        </div>
            <input class="form-control" placeholder="Create password" type="password" [(ngModel)]="register.password" [ngModelOptions]="{standalone: true}">
        </div> <!-- form-group// -->

        <div class="form-group">
          <button (click)= "registerCandidate()" class="btn btn-primary btn-block"> Create Account  </button>
      </div> <!-- form-group// -->        

      </form>

      <div class="bottom text-center">
         <a href="/company-register-login"><b>Register as company</b></a>
        </div>
      

      </article>
  </div>
  </div>

  <div class="col-sm-5"> 
      <div class="cardo">
        <article class="card-body mr-auto" style="max-width: 600px ; padding-top: 80px ; padding-left: 200px ; padding-right: 20px">
          <h4 class="card-title mt-3 text-center">Log In!</h4>
          <p class="text-center">Get ready to enjoy our services</p>
          <p>
            <a href="" class="btn btn-block btn-linkedin"> <i class="fab fa-linkedin"></i>   Login via 
            Linkedin</a>
          </p>
         
          <p>
            <a href="" class="btn btn-block btn-google"> <i class="fab fa-google"></i>   Login via 
            Google</a>
          </p>
      
          <p class="divider-text">
            <span class="bg-light">OR</span>
        </p>
      
        <form>
                
              <div class="form-group input-group" >
                <div class="input-group-prepend">
                  <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
               </div>
                  <input name="" class="form-control" placeholder="Email address" type="email">
              </div> <!-- form-group// -->
              
              <div class="form-group input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
              </div>
                  <input class="form-control" placeholder="Enter password" type="password">
              </div> <!-- form-group// -->
      
              <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block"> Log In  </button>
            </div> <!-- form-group// -->        
      
            </form>
      
            <div class="bottom text-center">
               <a href="/company-register-login"><b>Login as company</b></a>
              </div>
            
      
            </article>
        </div>
        </div>
      </div>





<!-- Copyright Section Start -->
<div class="copyright">
        <div class="container">
          <div class="row">
            <div class="col-lg-4 col-md-3 col-xs-12">
              <div class="footer-logo">
                <img src="assets/img/logo.png" alt="">
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-xs-12">     
              <div class="social-icon text-center">
                <a class="facebook" href="#"><i class="lni-facebook-filled"></i></a>
                <a class="twitter" href="#"><i class="lni-twitter-filled"></i></a>
                <a class="instagram" href="#"><i class="lni-instagram-filled"></i></a>
                <a class="linkedin" href="#"><i class="lni-linkedin-filled"></i></a>
              </div>
            </div>
            <div class="col-lg-4 col-md-5 col-xs-12">
              <p class="float-right">Designed and Developed by <a href="http://uideck.com" rel="nofollow">UIdeck</a></p>
            </div> 
          </div>
        </div>
      </div>
      <!-- Copyright Section End -->
    
      <!-- Go to Top Link -->
      <a href="#" class="back-to-top">
        <i class="lni-arrow-up"></i>
      </a>
      
      <!-- Preloader -->
      <div id="preloader">
        <div class="loader" id="loader-1"></div>
      </div>
      <!-- End Preloader -->


    
    