<div class="row" *ngIf="!_userService.token">
  <h2>Register</h2>
  <div class="col-sm-4">
    <label>Enter Username:</label><br />
    <input type="text" name="Username" [(ngModel)]="register.username">
  </div>
  <div class="col-sm-4">
    <label>Enter Email:</label><br />
    <input type="text" name="Email" [(ngModel)]="register.email">
  </div>
  <div class="col-sm-4">
    <label>Enter Password:</label><br />
    <input type="password" name="Password" [(ngModel)]="register.password">
  </div>
<div class="col-sm-4">
  <button (click)="registerUser()" class="btn btn-primary">Submit</button>&nbsp;
</div>
</div>

<div class="row" *ngIf="!_userService.token">
  <h2>Log In</h2>
  <div class="col-sm-4">
    <label>Username:</label><br />
    <input type="text" name="login-username" [(ngModel)]="user.username">
    <span *ngFor="let error of _userService.errors.username"><br/>{{ error }}</span></div>
  <div class="col-sm-4">
    <label>Password:</label><br />
    <input type="password" name="login-password" [(ngModel)]="user.password">
    <span *ngFor="let error of _userService.errors.password"><br/>{{ error }}</span>
  </div>
  <div class="col-sm-4">
    <button (click)="login()" class="btn btn-primary">Log In</button>&nbsp;
  </div>
  <div class="col-sm-12">
    <span *ngFor="let error of _userService.errors.non_field_errors">{{ error }}<br /></span>
  </div>
</div>

<div class="row" *ngIf="_userService.token">
  <h2>Logged In</h2>
  <div class="col-sm-12">You are logged in as {{ _userService.username }}.<br />
    Token Expires: {{ _userService.token_expires }}<br />
    <button (click)="refreshToken()" class="btn btn-primary">Refresh</button>&nbsp;
    <button (click)="getUsers()" class="btn btn-primary">Get Users</button>&nbsp;
    <button (click)="logout()" class="btn btn-primary">Log Out</button>&nbsp;
  </div>
</div>

<div class="row" *ngIf="_userService.token"></div>
  <h2 class="mt-3">User List</h2>
<div *ngFor="let x of userList">
  <div class="row mb-3">
    <label class="col-md-2">Username:</label>
    <div class="col-md-2 mb-1">{{ x.username }}</div>
    <label class="col-md-2">Email:</label>
    <div class="col-md-6">{{ x.email }}</div>
  </div>
</div>